/* mobile */

header .headerimage {
    margin: auto; 
    display: block;
    max-width: 400px;
    margin-bottom: 20px;
    padding-top: 20px;
}

article p {
    font-family: roboto;
    font-size: 18px; 
}

h1 {
    font-family: roboto;
    color: black; 
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: roboto;
    color: black;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black; 
    font-family: roboto;
}

a:hover {
    color: antiquewhite;
}

footer {
    font-family: roboto;
    color: white;
    /* background-color: white;
    padding: 10px 20px;  */
    min-width: 200px;
    border-radius: 10px;
    z-index: 2;
    position: relative;
    text-align: center; 
    margin: auto;
}

article {
    background-color: rgba(248, 245, 233, 0.8); 
    margin: 20px auto 40px auto;
    padding: 5px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(245, 245, 233);
}

body {
    background-color: rgb(3, 10, 134);
}

.contact a {
    text-decoration: none;
    color: white;
 }

main {
    flex: 1; 
}

#container {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

.mountains, .dragon {
    display: none;
}

/* put all desktop code */
@media only screen and (min-width: 600px) {

header .headerimage {
    max-width: 1000px;
}

article {
    margin: 20px auto 40px auto;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

.mountains {
    display: block;
    position: fixed; 
    bottom: -30px; 
    left: -50px;
    right: -50px;
    left: 0; 
    width: 100%; 
    height: auto; 
    z-index: 0;
}

.dragon {
    display: block;
    position: fixed;
    bottom: 100px; 
    right: 50px;
    width: 300px; 
    z-index: 1;
}

footer {
    max-width: 250px;
    padding-bottom: 200px;
}

}
